h1{
    text-align: center;
    padding-bottom: 20px;
}
h2{
    font-style: italic;
    text-decoration: underline;
}

.tech{
    padding-right: 20px;
    float: right;
    list-style: none;
        }
a{
    text-decoration: none;
}
.link{
    text-align: right;
    margin:0;
}
li{
    list-style: none;
}
h2{
   text-align: left;
}
.roam{
   text-align: left;
}
.copy{
   text-align: center;
}
aside{
width: 25%;
padding-left: 15px;
margin-left: 15px;
float: right;
font-style: italic;
background-color: lightgray;
display: block;
}
.present{
text-align: right;
}
.intro{
border: 2px solid black;
text-align: center;
}
video{
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}
.para1{
 background-color: blue;
 color: white;
}
.para2{
   background-color: red;
   color: black;
}
.para3{
     background-color: yellow;
     color: black;
}
